.card,
form {
  margin-top: 1rem;
}

.state-alivrer {
  color: rgb(252, 38, 10);
}
.state-encours {
  color: rgb(10, 54, 252);
}
.state-livree {
  color: rgb(50, 252, 10);
}
body .navbar-light .navbar-nav .nav-link.active {
  color : rgb(252, 8, 8)
}

